:root {
  --jungle-yellow: #FFEE00;
  --jungle-red: #BB002D;
  --jungle-green: #438F00;
  --jungle-blue: #0080FF;
  --jungle-purple: #9000FF;
  --jungle-orange: #FBB603;
}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(0, 255, 0, 0.15);
  background-size: cover;
  background-repeat: repeat;
}

.framed {
  background-image: url(/images/BelgraviaWallpaper-min.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.content-container {
  width: 100%;
  margin: 0 auto;
}

#leaderboard-container {
  width: 350px;
  background: rgba(255,255,255,0.5);
  background-repeat: repeat;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
}

.leaderboard-entry {
  background-color: #f8f9fa;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.leaderboard-entry:hover {
  background-color: #e9ecef;
}

.rank {
  font-weight: bold;
  margin-right: 15px;
  width: 30px;
  text-align: center;
  color: #6c757d;
}

.name {
  flex-grow: 1;
  font-size: large;
  font-weight: bold;
  color: #007bff;
}

.points {
  font-weight: bold;
  color: #28a745;
  min-width: 60px;
  text-align: right;
}

@media (max-width: 600px) {
  .content-container {
    width: 95%;
  }

  #leaderboard-container {
    padding: 10px;
  }

  .leaderboard-entry {
    padding: 10px;
  }
}