@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root {
  --jungle-yellow: #FFEE00;
  --jungle-yellow-light: rgb(255, 238, 0, 0.25);
  --jungle-red: #BB002D;
  --jungle-red-light: rgb(187, 0, 45, 0.25);
  --jungle-green: #438F00;
  --jungle-green-light: rgb(67, 143, 0, 0.25);
  --jungle-blue: #0080FF;
  --jungle-blue-light: rgb(0, 128, 255, 0.25);
  --jungle-purple: #9000FF;
  --jungle-purple-light: rgb(144, 0, 255, 0.25);
  --jungle-orange: #FBB603;
  --jungle-orange-light: rgb(251, 182, 3, 0.25);
}

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(0, 255, 0, 0.15);
  background-size: cover;
  background-repeat: repeat;
}

.framed {
  background-image: url(/images/BelgraviaWallpaper-min.jpg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 20px;
  overflow: auto;
  box-sizing: border-box;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

.content-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4em;
}

.topside {
  align-self: flex-start;
}

.midrange {
  align-self: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.midrange h1 {
  margin: 0 auto 30px;
  text-align: center;
  font-family: 'League Gothic';
  font-size: 4em;
  letter-spacing: 0.1em;
}

.computechflag {
  margin-top: -75px;
  width:500px;
  filter: drop-shadow(5px 10px 5px rgba(0, 0, 0, 0.5));

}

#leaderboard-container {
  /* background: rgba(255,255,255,0.5); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* background-repeat: repeat;
  border-radius: 10px; */
  width: 650px;
}

.leaderboard-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f8f9fa; */
  border: 6px solid var(--jungle-orange);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 5px 15px;
  margin-bottom: 40px;
  transition: background-color 0.3s ease;
}

.leaderHouse-1 {
  background-color: var(--jungle-yellow-light);
}
.leaderHouse-2 {
  background-color: var(--jungle-red-light);
}
.leaderHouse-3 {
  background-color: var(--jungle-green-light);
}
.leaderHouse-4 {
  background-color: var(--jungle-blue-light);
}
.leaderHouse-5 {
  background-color: var(--jungle-purple-light);
}

.house, .rank, .name, .points {
  font-size: 1.25em;
  font-weight: 700;
  /* letter-spacing: 0.05em; */
}

.house {
  margin-right: 15px;
  text-align: center;
}

.house-image {
  width: 70px; 
  height: auto; 
  vertical-align: middle; 
  position: absolute;
  margin: -35px 0 0 -22px;
}

.rank {
  color: #333;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  margin: 0 15px 0 40px;
  text-align: center;
  width: 30px;
}

.name {
  color: #333;
  flex-grow: 1;
  font-family: 'Montserrat', sans-serif;
}

.points {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
  color: white;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  min-width: 60px;
  text-align: right;
}

@media (max-width: 600px) {
  .content-container {
    width: 95%;
  }

  #leaderboard-container {
    padding: 10px;
  }

  .leaderboard-entry {
    padding: 10px;
  }
}